<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change Password</title>
<script type="text/javascript" src="view/js/js.js"></script>
</head>
<body bgcolor="#00bfff"><center>
<fieldset style="width: 350px;">
    <legend><h2>Change Password</h2></legend>
    <form action="./cps" method="post" onsubmit="return check()" name="checkForm">
        <table>
            <tr>
                <th>Current Password</th>
                <th><input type="password" name="curntpassword"></th>
            </tr>
            <tr>
                <th>New Password</th>
                <th><input type="password" name="newpassword"></th>
            </tr>
            <tr>
                <th>Re-type New Password</th>
                <th><input type="password" name="retyepassword"></th>
                <p id="demo"></p>
            </tr>
            <tr><th></th><th><input type="submit" value="Change Password"></th></tr>
        </table>
    </form>
</fieldset>
</center>
</body>
</html>