<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<style type="text/css">
    button{
        border: none;
        font-size: 25px;
        background-color:inherit;
        font-weight:bold;

    }
</style>
</head>
<body bgcolor="#1e90ff">
<div data-role="Header" data-position="fixed">
    <table bgcolor="#00bfff" width="100%">
        <tr>
            <th><form action="./welcome" method="post"><button>Home</button></form></th>
            <th><form action="./sss" method="get"><button>Search</button></form></th>
            <th><form action="./cfs" method="get"><button>Create Profile</button></form></th>
            <th><form action="./cps" method="get"><button>Change Password</button></form></th>
            <th><form action="./ls" method="post"><button>Logout</button></form></th>
        </tr>
    </table>
</div>

</body>
</html>
<br>
<br>
<br>