<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body bgcolor="#1e90ff">
<center>
    <h1>Students Application</h1>
   <h1> <marquee>Login Page</marquee></h1>
    <form action="./login" method="post">
    <fieldset style="width: 350px;">
    <legend><font size="6" style="font-weight: 100"><b>Login</b></font></legend>
<table>
    <tr align="right">
        <th>Registration Number</th>
        <td><input type="number" maxlength="10" name="regno" placeholder="Enter Reg No" required="required"></td>
    </tr>
    <tr align="right">
        <th align="=right">Password</th>
        <td><input type="password" maxlength="20" name="password" placeholder="Enter Password"required="required"></td>
    </tr>
    <tr align="center">
        <td><input type="reset"></td>
        <td><input type="submit" value="Login"></td>
    </tr>
</table>
    </fieldset>
    </form>
</center>
</body>
</html>