<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Search</title>
</head>
<body bgcolor="#00bfff">
<br><br><br>
<center>

    <fieldset style="width: 350px;">
        <legend><h3>Search By Registraion Number</h3></legend>
    <form action="./sss" method="post">
        <table>
            <tr>
                <th>Registration Number</th>
                <th><input type="number" name="regno" required="required"></th>
            </tr>
        </table>
        <input type="submit">
    </form>

    </fieldset>
    <br><br><br>
    <fieldset style="width: 350px;">
        <legend><h3>Search By First Name</h3></legend>
        <form action="./sss" method="post">
            <table>
                <tr>
                    <th>Enter First Name</th>
                    <th><input type="text" name="name" required="required"></th>
                </tr>
            </table>
            <input type="submit">
        </form>

    </fieldset>
</center>
</body>
</html>